.p-button {
  margin-right: .25em
}

.link{
  text-decoration: none;
  color: black;
}
.ajusteIcone{
  color: black!important;
  background-color:#e6b800!important;
  border-color: black!important;
}

